@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: oklch(from black 0.1 c h);
  --color-bg: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: oklch(from white 0.8 c h);
    --color-bg: oklch(from black .1 c h);
  }
}

body {
  color: var(--color-text);
  background: var(--color-bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
